<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCarCare"
        tools:targetApi="31">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Car_Wiring"
            android:exported="false" />
        <activity
            android:name=".Mechanical_Work"
            android:exported="false" />
        <activity
            android:name=".Body_Work"
            android:exported="false" />
        <activity
            android:name=".myLocation"
            android:exported="false" />
        <activity
            android:name=".Ratings"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:theme="@style/DemoTheme"
            android:value="AIzaSyBVA5pmZBz2Lb6zo5YeGMkOfNY9VZIqcGU" />

        <activity
            android:name=".Namanga"
            android:exported="false"
            android:label="@string/title_activity_namanga" />
        <activity
            android:name=".Kisaju"
            android:exported="false"
            android:label="@string/title_activity_kisaju" />
        <activity
            android:name=".Bisil"
            android:exported="false"
            android:label="@string/title_activity_bisil" />
        <activity
            android:name=".KitengelaMap"
            android:exported="false"
            android:label="@string/title_activity_kitengela_map" />
        <activity
            android:name=".Isinya"
            android:exported="false"
            android:label="@string/title_activity_isinya" />
        <activity
            android:name=".Kajiado"
            android:exported="false"
            android:label="@string/title_activity_kajiado" />
        <activity
            android:name=".Kitengela"
            android:exported="false" />
        <activity
            android:name=".MechanicInfoActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".AddMechanicActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".PlacesActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".GoogleMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_google_maps"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ServiceSignInActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ServiceRegActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".LocationActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ServiceLogActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".servicesActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".manualsActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".tutorialsActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ClientMechRegister"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ClientMechLogin"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".Client_SignUp_Activity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".Client_Login_Activity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ClientSignUpActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ClientLoginActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".MechanicsSignUpActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".MechanicsLoginActivity"
            android:exported="false"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".MechanicsDashboardActivity"
            android:exported="true"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".SpecializationActivity"
            android:exported="true"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".ClientDashboardActivity"
            android:exported="true"
            android:theme="@style/DemoTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>